/*******   HOLE PAGE   ********/
*{
   background-color:aquamarine;
}

.flex-container{
    display: flex;
}

html {
  zoom: 110%;
}

/****************    GAME AREA   ********************/
.gameArea{
    margin:auto;
    width:50%;
    padding: 200px;
    align-items: center;
    font-size: large;
}


.choice{
    padding: 20px;
    border-radius: 50% 20%/10% 40%;
    background-color: white;
    cursor:pointer;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reset{
    cursor:pointer;
    font-style: italic;
    font-weight: bolder;
    background-color:darksalmon;
    font-size: larger;
    padding: 10px;
    margin:7% 35%;
}

.choiceIMG{
    height:100px;
    border-radius: 30px;
}

